<div id="searchResultsList" ng-controller="SearchController" style="width:100%;height:400px">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="container-fluid">

                    <div class="row">
                        <!-- Products columns -->
                        <div class="col-sm-2" ng-repeat="category in searchModel.categories">
                            <H4>Category: {{category.name}}</H4>
                            <div ng-repeat="product in category.products">
                                <input type="checkbox" data-ng-click="updateBasket($event)" id="{{product}}">
                                {{product.name}}</input><br>
                            </div>
                        </div>
                        <!-- Checkout button columns -->
                        <div class="col-sm-2">
                            <div ng-repeat="productInBasket in searchModel.basket">
                                <a>{{productInBasket.name}}</a>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <search-for-habitats>
                            <div style="margin-top: 40px;">
                                <input ng-disabled="searchModel.checkoutDisabled" type="button" value="Checkout" class="btn btn-primary"/><br><br>
                            </div>
                        </search-for-habitats>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
