<div id="searchResultsList" ng-controller="SelectController" style="width:100%;height:400px">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="container-fluid">
                    <div class="row">

                        <!-- Products columns -->
                        <div class="col-sm-2" ng-repeat="category in selectionModel.categories">
                            <H4>Category: {{category.name}}</H4>
                            <div ng-repeat="product in category.products">
                                <input name="productCheckbox" type="checkbox" data-ng-click="updateBasket($event)"
                                       class="{{product}}" id="{{product.name}}">{{product.name}}</input><br>
                            </div>
                        </div>

                        <!-- Checkout button columns -->
                        <div class="col-sm-2">
                            <H4>Basket</H4>
                            <div style="height:100px">
                                <div name="productBasket" id="{{productInBasket.name}}"
                                     ng-repeat="productInBasket in selectionModel.basket">
                                    <a>{{productInBasket.name}}</a>
                                </div>
                            </div>
                            <submit-order>
                                <div>
                                    <input ng-disabled="selectionModel.checkoutDisabled" type="button" value="Checkout"
                                           name="checkout" id="checkout"
                                           class="btn btn-primary"/><br><br>
                                </div>
                            </submit-order>
                        </div>

                    </div>
                    {{selectionModel.statusMessage}}
                </div>
            </div>
        </div>
    </div>
</div>
